<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>aTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DD8483B1DB60E6300FD04D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DD8484F1DB60E6300FD04D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DD8485A1DB60E6300FD04D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DD848701DB60ECA00FD04D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DD848831DB6104A00FD04D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
